{
	auto_https disable_redirects
	local_certs
}

{$LANDING_PAGE_HOSTNAME}:{$LANDING_PAGE_PORT} {
	reverse_proxy landingpage:80
}

{$LANDING_PAGE_HOSTNAME}:{$SOOFI_UI_PORT} {
	reverse_proxy soofi-ui:80
}

{$LANDING_PAGE_HOSTNAME}:{$GRAFANA_PORT} {
	reverse_proxy grafana:3000
}

{$LANDING_PAGE_HOSTNAME}:{$PORTAINER_PORT} {
	reverse_proxy portainer:9000
}

{$LANDING_PAGE_HOSTNAME}:{$MCPINSPECTOR_CLIENT_PORT} {
	reverse_proxy mcp-inspector:6274
}

{$LANDING_PAGE_HOSTNAME}:{$MCPINSPECTOR_PROXY_PORT} {
	reverse_proxy mcp-inspector:6277
}

{$LANDING_PAGE_HOSTNAME}:{$MINIO_PORT} {
	reverse_proxy minio:9000
}

{$LANDING_PAGE_HOSTNAME}:{$MINIO_CONSOLE_PORT} {
	reverse_proxy minio:9001 {
        header_down Location "http://" "https://"
    }
}

{$LANDING_PAGE_HOSTNAME}:{$STT_PORT} {
	reverse_proxy stt:8000
}

{$LANDING_PAGE_HOSTNAME}:{$TTS_PORT} {
	reverse_proxy tts:8000
}

{$LANDING_PAGE_HOSTNAME}:{$TRAINING_GATEWAY_PORT} {
	reverse_proxy training-gateway:8000
}

{$LANDING_PAGE_HOSTNAME}:{$EDC_PROVIDER_PORT} {
	reverse_proxy edc-provider:19291 {
        header_down Location "http://" "https://"
    }
}

{$LANDING_PAGE_HOSTNAME}:{$EDC_PORTAL_PROVIDER_PORT} {
	reverse_proxy portal-provider:80 {
        header_down Location "http://" "https://"
    }
}

{$LANDING_PAGE_HOSTNAME}:{$EDC_CONSUMER_PORT} {
	reverse_proxy edc-consumer:19291 {
        header_down Location "http://" "https://"
    }
}

{$LANDING_PAGE_HOSTNAME}:{$EDC_PORTAL_CONSUMER_PORT} {
	reverse_proxy portal-consumer:80 {
        header_down Location "http://" "https://"
    }
}

{$LANDING_PAGE_HOSTNAME}:{$EDC_CONSUMER_MCP_PORT} {
	reverse_proxy edc-consumer-mcp:8081 {
        header_down Location "http://" "https://"
    }
}

{$LANDING_PAGE_HOSTNAME}:{$AAS_DISCOVERY_PORT} {
	reverse_proxy aas-discovery:8081
}

{$LANDING_PAGE_HOSTNAME}:{$AAS_REGISTRY_PORT} {
	reverse_proxy aas-registry:8080
}

{$LANDING_PAGE_HOSTNAME}:{$SM_REGISTRY_PORT} {
	reverse_proxy sm-registry:8080
}

{$LANDING_PAGE_HOSTNAME}:{$AAS_ENVIRONMENT_PORT} {
	reverse_proxy aas-environment:8081
}

{$LANDING_PAGE_HOSTNAME}:{$AAS_WEBUI_PORT} {
	reverse_proxy aas-webui:3000
}

{$LANDING_PAGE_HOSTNAME}:{$MNESTIX_BROWSER_PORT} {
	reverse_proxy mnestix-browser:3000
}

{$LANDING_PAGE_HOSTNAME}:{$MNESTIX_PROXY_PORT} {
	reverse_proxy mnestix-proxy:5065
}